<ion-header style="background-color:#0054FF">
  <div style="color:white">
    <h2 text-center>Dog Finder</h2>
  </div>
</ion-header>

<ion-content>

  <!-- <h1 *ngIf="this.user.getPoints()===5">hhh</h1> -->

  <h2 text-center>Welcome {{this.user.getName()}}</h2>
  <div text-center>
      <label>you have {{this.user.getPoints()}} points</label>
      <ion-icon name="medal"></ion-icon>
  </div>

  <!-- make it appear only when user asked something -->
  <!-- <p>דיווח נוכחי</p> -->
  <!-- <ion-buttons> -->
    <!-- <a class="bbb">search for sorek</a> -->
    <!-- <button class="bbb" ion-button>i am leaving</button> -->
    <!-- <button class="bbb" ion-button>contact</button> -->
  <!-- </ion-buttons> -->
  <!-- 
  <ion-content>
    <div #map id="map" style="height:60%;"></div>
  </ion-content>
  -->
  <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

    
  <ion-row style="position:fixed; bottom:10%; right: 15%; left: 15%;">
      <ion-col text-center>
        <button class="dog_report" ion-button color="danger" round (click)="addItem()">{{ 'LIST_MASTER_TITLE' | translate }}</button>
    </ion-col>
  </ion-row>

</ion-content>
<!--<ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>-->